{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}
    <h1>Mi Carrito</h1>
    <a href="{{ path('app_carrito_vaciar') }}">Vaciar carrito</a>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in productos %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>
                        <a href="{{ path('app_carrito_eliminar', {'id': item.producto.id}) }}">Borrar</a>
                        <a href="{{ path('app_carrito_disminuir', {'id': item.producto.id}) }}">-</a>
                        <a href="{{ path('app_carrito_aumentar', {'id': item.producto.id}) }}">+</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Tu carrito está vacío</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}