{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos{% endblock %}

{% block body %}
<h1>Mis Pedidos</h1>

{% for pedido in pedidosConProductos %}
    <h2>Detalles del Pedido</h2>
    <p>ID del Pedido: {{ pedido.pedido.getId() }}</p>
    <!-- Aquí puedes mostrar más detalles del pedido según sea necesario -->

    <h3>Productos en el Pedido</h3>
    <ul>
        {% set total = 0 %}
        {% for producto in pedido.productos %}
            <li>{{ producto.nombre }} - Precio: {{ producto.precio }} - Unidades:{{ producto.unidades }}</li>
            {% set total = total + (producto.precio * producto.unidades) %}
        {% endfor %}
    </ul>
    <p>Total del pedido: {{ total }}</p>
{% endfor %}

{% endblock %}