{% extends 'base.html.twig' %}

{% block title %}Mi Landing Page Symfony{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('../public/css/landing_page.css') }}">
{% endblock %}

{% block header %}¡Descubre nuestro increíble servicio!{% endblock %}

{% block content %}
    <div class="welcome-text">
        <p>Bienvenido a nuestra landing page en Symfony. Descubre lo que tenemos para ofrecer.</p>
    </div>

    <div class="buttons">
        <a href="{{ path('app_login', {'login': 'login'}) }}" class="btn btn-login">Login</a>
        <a href="{{ path('app_register', {'login': 'registro'}) }}" class="btn btn-register">Registro</a>
        <a href="{{ path('app_logout', {'logout': 'logout'}) }}" class="btn btn-register">Cerrar Sesion</a>

    </div>
{% endblock %}
